html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::placeholder {
  color: white;
  opacity: 1;
}

body {
  font-family: 'Manjari', sans-serif;
  font-size: 17px;
  background: url(images/wildFlowers.jpg) center center fixed;
  background-color: beige;
  margin: 0;
}

body .wraper {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media only screen and (min-width: 750px) {
  body .wraper {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  body .wraper {
    width: 70%;
  }
}

body .wraper .header {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 20%;
}

@media only screen and (min-width: 750px) {
  body .wraper .header {
    margin-top: 8%;
  }
}

@media only screen and (min-width: 1200px) {
  body .wraper .header {
    margin-top: 10%;
  }
}

body .wraper .header .pageTitle {
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  color: #e5c100;
  margin-bottom: 25px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1200px) {
  body .wraper .header .pageTitle {
    font-size: 75px;
  }
}

body .wraper .header .menu {
  margin: 0 15px 0 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .wraper .header .menu .menuOptions {
  font-size: 20px;
  font-weight: bold;
  color: #191919;
  text-decoration: none;
  position: relative;
}

body .wraper .header .menu .menuOptions:hover {
  text-decoration: underline;
  text-underline-position: under;
}

body .wraper .tasks {
  background: rgba(255, 255, 255, 0.9);
  padding: 10% 0 20% 0;
  height: 70%;
}

@media only screen and (min-width: 1200px) {
  body .wraper .tasks {
    padding: 2% 0 10% 0;
  }
}

body .wraper .tasks .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5%;
}

@media only screen and (min-width: 750px) {
  body .wraper .tasks .inputContainer {
    margin-right: 2%;
  }
}

body .wraper .tasks .inputContainer .taskInput {
  border-style: none;
  outline: none;
  width: 72%;
  background: rgba(170, 153, 169, 0.9);
  color: white;
  padding: 10px 4% 10px 5px;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
}

body .wraper .tasks .inputContainer .taskInput:focus {
  -webkit-box-shadow: 0 0 5px #3CB371;
          box-shadow: 0 0 5px #3CB371;
}

@media only screen and (min-width: 750px) {
  body .wraper .tasks .inputContainer .taskInput {
    width: 78%;
  }
}

@media only screen and (min-width: 1200px) {
  body .wraper .tasks .inputContainer .taskInput {
    padding-left: 10px;
  }
}

body .wraper .tasks .inputContainer .add {
  font-size: 18px;
  font-weight: bold;
  color: #191919;
  text-decoration: none;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #3CB371;
  padding: 5px 8px 1px 8px;
  position: absolute;
  right: 7%;
  border-radius: 5px;
}

body .wraper .tasks .inputContainer .add:hover {
  background-color: #00FF7F;
}

@media only screen and (min-width: 1200px) {
  body .wraper .tasks .inputContainer .add {
    padding: 10px 16px 3px 16px;
    right: 7%;
  }
}

body .wraper .tasks .pendingUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  position: relative;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body .wraper .tasks .pendingUl .pendingLi {
  margin: 0;
  background: #9e8b9d;
  width: 70%;
  padding: 15px 20px 15px 10px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(20%);
          transform: translate(20%);
}
/*# sourceMappingURL=styles.css.map */